.movieCard {
  position: relative;
  max-width: 100%;
  height: 350px;
  margin: 50px;
  width: 300px;
  margin-bottom: 100px;
  overflow: hidden;
}

.movieCard:hover {
  animation: enlargeCard 0.8s forwards;
  cursor: pointer;
}

@keyframes enlargeCard {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
