.pageOptions {
  position: relative;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  bottom: 0;
  float: inline-end;
  max-width: 100%;
}

.pageOption {
  padding: 5px 10px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-size: 120%;
  color: white;
  outline: none;
  border: none;
}

.pageOption:hover {
  border: 2px solid gray;
  border-radius: 30%;
}

#selectedPageOption {
  border: 2px solid red;
  color: #6fbff5;
  border-radius: 30%;
  font-weight: bolder;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.changePage {
  padding: 15px;
  border: none;
  color: #6fbff5;
  font-size: 110%;
  outline: none;
}

.changePage:disabled {
  cursor: not-allowed;
  color: gray;
}
